@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background-image: url("../../public/main-background.svg");
  background-position: center;
  background-size: cover;
}

.about-background {
  background-image: url("../../public/about-me-background.svg");
  background-position: center;
  background-size: cover;
}
